<!DOCTYPE html>
<html><head>
    <title>Error</title>
        <link rel="icon" href="/Image/icon.jpg">
  <link rel ="StyleSheet" href='/css/sheet.css'>
  </head>
    <body>
        <div class='main-content'>
        {{>header}}
        <p>This page doesn't exist</p>
        </div>
        {{>footer}}
    </body>
</html>