<html>
    <head>
        <title>Weather</title>
        <link rel="icon" href="/Image/icon.jpg">

        <link rel ="StyleSheet" href='/css/sheet.css'>
        </head>
        <body>
            
        <div class='main-content'>
        {{>header}}
        <form>
            <input placeholder="Enter Location">
            <button>Search</button>
        </form>
        <p id='m1'></p>
        <p id='m2'></p>
        </div>
        {{>footer}}
        <script src='/js/app.js'></script>
</body>
    
</html>